.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease; /* Agregamos transición para un cambio suave */
  z-index: 1000; /* Asegúrate de que el navbar esté por encima de otros elementos */
}

.navbar-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  filter: brightness(2);
}
.navbar-logo p {
  font-family: "Frontage", sans-serif;
  margin-left: 5px;
  font-size: 40px;
}
.navbar-logo img {
  margin-top: 10px;
  width: 100px;
}
.links-desktop {
  width: 65%;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
}
.links-desktop a {
  font-family: "GothamBold", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  transition: all ease 0.3s;
}
.links-desktop a:hover {
  transform: scale(1.125);
  text-decoration: underline;
}

.header-homepage {
  background-color: rgba(26, 31, 54, 0.75);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: "Frontage", sans-serif;
  font-size: 5em;
  line-height: 1.5em;
}
.lema {
  font-size: 2.5rem;
  color: #e7c4a2;
  font-family: "GothamLight", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.header-homepage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ajusta el tamaño del video para cubrir completamente la sección */
  z-index: -1; /* Coloca el video detrás del contenido */
}

.container-header-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  max-width: 95%;
}

.redes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 50%;
}

.redes a.link-flecha-abajo {
  position: absolute;
  right: 5px;
  background-color: transparent;
}

.redes a.link-flecha-abajo img {
  width: 100px;
}

.redes a img {
  width: 35px;
}

.about-section {
  padding: 150px 0;
  background-color: white;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.about-container .about-div {
  max-width: 60%;
}

.about-container .about-div h2 {
  font-family: "GothamBook", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.5em;
  color: #a48371;
}

.about-container .about-div p {
  font-family: "GothamLight", sans-serif;
  font-size: 25px;
  line-height: 1.5em;
  color: #0c2340;
}

.about-container .about-logo img {
  width: 450px;
}

.team-section {
  padding: 150px 0;
  background-color: lightgrey;
}

.team-container {
  margin-left: auto;
  margin-right: auto;
}

.team-container h3 {
  margin-bottom: 50px;
  color: #0c2340;
  font-size: 44px;
  line-height: 1.5em;
  font-family: "GothamBold", sans-serif;
  text-align: center;
}

.team-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.team-grid .row {
  display: flex;
  gap: 100px;
}

.team-grid .row2 {
  gap: 150px;
}

.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;
}

.teammate:hover {
  transform: scale(1.1);
}

.teammate-image {
  width: 275px;
  border-radius: 50%;
}

.name-teammate {
  font-family: "GothamBook", sans-serif;
  margin-top: 10px;
  color: #0c1424;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

.cargo-teammate {
  color: rgba(26, 27, 31, 0.6);
}

.filosofia-section {
  padding: 150px 0;
}

.filosofia-container {
  color: black;
  background: rgb(164, 131, 113);
  background: linear-gradient(
    180deg,
    rgba(164, 131, 113, 0.8) 10%,
    rgba(231, 196, 162, 0.8) 89%
  );
  margin: 0 auto;
  padding: 30px 100px;
  max-width: 75%;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 20px 20px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 15px rgba(0, 0, 0, 0.25);
}

.filosofia-container h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "GothamBold", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.5em;
}

.filosofia-container ul li {
  font-family: "GothamLight", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 50px;
}
.filosofia-container ul p {
  font-family: "GothamBold", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 25px;
}

.swiper {
  width: auto;
  height: auto;
}

.players-section {
  margin-top: 200px;
  height: 750px;
}

.players-section h1 {
  display: block;
  padding: 0 40px 5px 40px;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 44px;
  line-height: 1.5em;
  color: #e7c4a2;
  font-family: "GothamBook", sans-serif;
  font-weight: 400;
  border-bottom: 2.5px solid #e7c4a2;
}

.swiper-slide {
  text-align: center;
  height: auto;
  margin-top: 50px;
  filter: brightness(0.3) blur(3px);
}

.swiper-slide-next {
  filter: brightness(0.9);
  transition: all ease 0.5s;
}

.swiper-slide img {
  height: 400px;
}
.swiper-slide p {
  font-size: 48px;
  line-height: 1.5em;
  color: #e7c4a2;
  text-align: center;
  font-family: "Frontage", sans-serif;
}

.transfer-section {
  margin-top: 200px;
  height: 100%;
  margin-bottom: 250px;
}

.container-timeline {
  width: 100%;
  height: 100%;
  position: relative;
}
.container-timeline .line {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 27.7%;
  background-color: #e7c4a2;
}

.container-timeline .grid {
  display: grid;
  grid-template-columns: 0.5fr 0.25fr 1.5fr;
  margin-bottom: 50px;
}

.container-timeline .grid .left-timeline {
  padding-left: 20px;
}

.year-timeline {
  font-family: "Frontage", sans-serif;
  font-size: 52px;
  line-height: 1.5em;
  text-align: right;
}

.grid-center {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #e7c4a2;
  border-radius: 50%;
}

.grid-right ul {
  margin: 20px 0 10px 0;
  padding-left: 40px;
  width: 100%;
}

.grid-right ul li {
  display: flex;
  justify-content: start;
  align-items: stretch;
  margin-bottom: 30px;
  gap: 21px;
}

.name-transferencia {
  font-family: "Frontage", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  width: 25%;
}

.flecha-transferencia {
  display: none;
}

.flecha-transferencia.desktop {
  display: block;
}

.span-team-transfer {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5em;
  font-style: italic;
}

.span-team-transfer p {
  font-family: "GothamLight", sans-serif;
  opacity: 0.7;
}

.footer {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/fondo_blur.png);
  background-size: cover;
  background-position: 50% 25%;
  box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.25);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-container h3 {
  font-family: "GothamBook", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.5em;
  color: #a48371;
  margin-bottom: 25px;
}

.footer span.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.footer span.contact-item a {
  font-family: "GothamLight", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin-left: 20px;
}

.footer span.contact-item img {
  width: 35px;
}

.footer img {
  width: 100px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-left: -25px;
  font-family: "GothamLight", sans-serif;
  font-weight: 300;
  color: #a48371;
}

.footer-bottom span {
  display: flex;
}

.footer-bottom span a {
  color: #a48371;
  text-decoration: underline;
  margin-left: 8px;
}

.footer-bottom span {
  font-family: "GothamLight", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 2.3em;
  }
  .lema {
    font-size: 1.25rem;
  }
  .header-homepage {
    height: 100vh;
  }

  .container-header-homepage {
    height: 65%;
  }

  .redes {
    gap: 35px;
  }

  .redes a.link-flecha-abajo {
    right: auto;
    bottom: 10px;
  }

  .redes a.link-flecha-abajo img {
    width: 40px;
  }
  .redes a img {
    width: 25px;
  }
  /*ABOUT PAGE*/
  .about-section {
    padding: 70px 0;
  }

  .about-container {
    flex-direction: column;
    width: 100%;
  }

  .about-container .about-div {
    max-width: 100%;
  }

  .about-container .about-div h2 {
    font-size: 36px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .about-container .about-div p {
    font-size: 18px;
  }

  .about-container .about-logo img {
    width: 200px;
  }

  /* TEAM SECTION */

  .team-section {
    padding: 75px 0;
  }

  .team-container h3 {
    margin-bottom: 36px;
  }

  .team-grid {
    gap: 0;
  }

  .team-grid .row {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    overflow-y: hidden;
    padding-bottom: 50px;
  }

  .team-grid .row2 {
    margin-top: 0;
    padding-top: 25px;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teammate-image {
    width: 225px;
  }

  .filosofia-section {
    padding: 75px 0;
  }

  .filosofia-container {
    padding: 10px 20px;
    max-width: 80%;
  }

  .filosofia-container h2 {
    font-size: 36px;
  }

  .filosofia-container ul li {
    font-size: 14px;
    line-height: 1.5em;
  }
  .filosofia-container ul p {
    font-size: 14px;
  }

  .players-section {
    margin-top: 150px;
    height: 80vh;
  }

  .players-section h1 {
    padding: 0 0px 5px 0px;
    width: 80%;
    font-size: 30px;
  }

  .swiper-slide img {
    height: auto;
    width: 80vw;
  }
  .swiper-slide p {
    font-size: 28px;
    text-align: center;
  }

  .swiper-slide-active {
    filter: brightness(0.9);
  }

  .swiper-slide-next {
    filter: brightness(0.3) blur(3px);
  }

  .transfer-section {
    margin-top: 150px;
    overflow-x: hidden;
    padding-left: 10px;
  }

  .flecha-transferencia {
    display: block;
    margin-left: 2%;
  }

  .flecha-transferencia.desktop {
    display: none;
  }

  .container-timeline .grid .left-timeline {
    padding-left: 20px;
  }

  .year-timeline {
    font-family: "Frontage", sans-serif;
    font-size: 40px;
    line-height: 1.5em;
    text-align: right;
  }

  .year-timeline .grid {
    margin-bottom: 10px;
  }

  .grid-center {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
  }

  .circle {
    width: 15px;
    height: 15px;
    background-color: #e7c4a2;
    border-radius: 50%;
  }

  .grid-right ul {
    margin: 10px 0 0 0;
    padding-left: 30px;
  }

  .grid-right ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .name-transferencia {
    font-size: 18px;
    width: 100%;
  }

  .span-team-transfer {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
    font-size: 14px;
  }

  .footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/fondo_blur.png);
    background-size: cover;
    background-position: 50% 25%;
    box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.25);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .footer-container h3 {
    font-family: "GothamBook", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.5em;
    color: #a48371;
    margin-bottom: 25px;
  }

  .footer span.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer span.contact-item a {
    font-family: "GothamLight", sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    margin-left: 20px;
  }

  .footer span.contact-item img {
    width: 35px;
  }

  .footer img {
    width: 100px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: -25px;
    font-family: "GothamLight", sans-serif;
    font-weight: 300;
    color: #a48371;
  }

  .footer-bottom span {
    display: flex;
  }

  .footer-bottom span a {
    color: #a48371;
    text-decoration: underline;
    margin-left: 8px;
  }

  .footer-bottom span {
    font-family: "GothamLight", sans-serif;
    font-weight: 300;
  }
}

@media (min-width: 769px) {
  .menu-bars {
    display: none;
  }
  .links-mobile {
    display: none;
  }
  .scrolled {
    background-color: #0c1424;
    box-shadow: 1px 11px 13px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 11px 13px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 11px 13px 0px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 768px) {
  .navbar {
    background-color: #0c1424;
    padding: 10px 0;
  }
  .navbar-logo {
    width: 100%;
    padding-left: 20px;
  }
  .navbar-logo p {
    font-size: 20px;
    color: #e7c4a2;
    filter: brightness(0.5);
  }
  .navbar-logo img {
    margin-top: 0px;
    width: 50px;
    filter: brightness(0.5);
  }
  .menu-bars {
    display: block;
    padding: 18px 10px;
  }
  .menu-icon {
    width: 30px;
  }
  .links-desktop {
    background-color: #0c1424;
    gap: 80px;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90px;
    opacity: 0;
    transition: all ease 0.5s;
  }
  .links-desktop.open {
    height: 90vh;
    top: 100%;
    opacity: 1;
  }
}
