@font-face {
  font-family:'GothamKnights';
  src: url('./assets/fonts/gothamknights.ttf') format('truetype');
}
@font-face {
  font-family:'Frontage';
  src: url('./assets/fonts/Frontage.ttf') format('truetype');
}
@font-face {
  font-family:'GothamBook';
  src: url('./assets/fonts/GothamBook.otf') format('opentype');
}
@font-face {
  font-family:'GothamBold';
  src: url('./assets/fonts/GothamBold.otf') format('opentype');
}
@font-face {
  font-family:'GothamLight';
  src: url('./assets/fonts/GothamLight.otf') format('opentype');
}


*,
*::before,
*::after {
  box-sizing: border-box;

}

a{
  text-decoration: none;
  color: white;
}

*{
  margin: 0;
  padding: 0;
}

  body {
    font-family: 'GothamBook' , sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0c2340;
    color: white;
    overflow-x: hidden;
  }